* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  height: 100vh;
  background-image: url(./assets/Livro.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 300px;
  padding: 20px;
  margin-bottom: 500px;
  margin-left: 400px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h1 {
  line-height: 30px;
  color: #ff0066;
}

p {
  line-height: 30px;
  margin-bottom: 10px;
}

.left {
  margin-right: 240px;
  margin-bottom: 600px;
  line-height: 30px;
  font-weight: 600;
  font-size: 17px;
  align-items: center;
  text-align: center;
}
